.middle-line{
    width: 2px;
    height: 300px;
    margin-top: 60px !important;
}

.main-color{
    background-color: #6c757d !important;
}

nav{
    width: 100%
}
nav ul .list{
    margin-left: 33.33%;
    width:210px
}
nav ul .list .link{
    width:193px
}

#dropdownMenu2::after{
    content: none !important;
    
}

.dots{
    font-size: 23px;
    font-weight: bold;
}

.card-image{
    margin-top: 60px;
}

.show:focus{
    border: 1px solid black;
    outline: none;
}

.btn.focus, .btn:focus{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

#userimage{
    position: absolute;
    left: 0 !important; 
    display: flex;
    margin-top: 10px;
}

#userimage span{
    margin-left: 10px;
}

.fa-angle-down:before {
    content: "\f107";
    font-size: 13px;
    margin-left: 2px;
}

.error{
    position: absolute;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-code{
    color: rgb(172, 153, 153);
    font-size: 4vw;
}

.back-to-home{
    width: 20%;
    border: 1px solid #00CF91;
    padding: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.back-to-home:hover{
    text-decoration: none;
    background-color: #00CF91;
    color: white;
}
